
<style>body, html { padding: 0px; margin: 0px; overflow: hidden; } canvas { display: none; }</style>

<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script>

function updateDimension( ) { 
    var vid = document.getElementById('video');
    $('#video').css(
            {'width': $(window).width(), 'max-height': $(window).height()-180,'height':'auto'});
};

var activeStreams = [];
var currentActive = "";

function removeStream( id ) {
	for(var i = activeStreams.length; i--; ) {
		if(activeStreams[i] === id) {
			activeStreams.splice(i, 1);
		}
	}
	var elem = $("#"+id).remove();
	if(id === currentActive){
		currentActive = "";
		document.getElementById('video').setAttribute("hidden","");
	}
};

function updateStream( id, bitrate, viewers ) {
    var elem = $("#"+id);
    elem.find(".bitrateClass").html((parseFloat(bitrate)/1000.0).toPrecision(4)+" Mbit/s");
    elem.find(".viewersClass").html("Viewers: " + viewers);
	elem.find("img").attr("src", "/jpeg/"+id);
}

function addStream( id, res, fps) {
	activeStreams.push(id);
 	var elem = $("#previewBase").clone().attr('id', id);
	elem.find(".resolutionClass").html(res+" @ 30fps");
	elem.find("img").click( function (e){
		var vid = document.getElementById('video');
		vid.src = '/watch/'+id;
		vid.load();
		vid.play();
		currentActive = id;
		document.getElementById('video').removeAttribute("hidden");
        updateDimension();
	});

 	elem.insertAfter($("#previewBase")).removeAttr('hidden');
};

function updateButtonsLoop( ) {
	$.get("/listStreams", function(data) {
		var streamIDs = data.split("\n");
		var existsHTML = "";
		var updatedList = [];
		if(streamIDs.length < 2){ //There is always a last empty element due to split
			existsHTML = "No active streams";
		}else{
			for( i=0; i<streamIDs.length-1; ++i){
				var elems = streamIDs[i].split(" ");
				updatedList.push(elems[0]);

				if( activeStreams.indexOf( elems[0] ) === -1){
					addStream( elems[0], elems[1]+"x"+elems[2], elems[3] );
				}
				updateStream( elems[0], elems[4], elems[5] );
			}
		}
		for( i=0; i<activeStreams.length; ){
			if( updatedList.indexOf( activeStreams[i] ) === -1){
				removeStream( activeStreams[i] );
			}else ++i;
		}

		document.getElementById('nostreamText').innerHTML = existsHTML;
//		console.log( activeStreams );

		setTimeout( updateButtonsLoop , 1000);
	});
};

$( window ).resize(updateDimension);

window.onload = function() {
 	updateButtonsLoop();

};

</script>

<div id="previewBase" class="previewClass" hidden
	style="float:left; width:325px; height:180px;" >

	<img type="image/jpeg" width="320px" height="136px" style="cursor:pointer" > </img>  
	<div style="width:320px; overflow:hidden;">
		<div class="resolutionClass" style="float:left; width:200px;" > </div>
		<div class="viewersClass" style="float:right; text-align:right; width:100px;"> </div>
	</div>
	<div class="bitrateClass"> </div>

</div>

<div id="nostreamText"> </div>

<video id="video" type="video/webm" hidden > </video>  

</body>  
</html>  
